/* Animation Styles */
@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-top {
  animation: slideInFromTop 2s ease forwards;
}

.image-bottom {
  animation: slideInFromBottom 2s ease forwards;
}


/* Component Styles */
.destination {
  margin: 4rem 6rem;
  color: #2a2a2a;
}

.destination h1 {
  font-size: 3rem;
}

.destination p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.first-des {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.5rem;
}

.first-des-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 6.5rem;
}

.des-text {
  width: 45%;
  text-align: justify;
  font-size: 1.1rem;
}

.des-text h2 {
  padding-bottom: 1rem;
}

.image {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  z-index: -99;
}

.image img {
  width: 49%;
  height: 350px;
  object-fit: cover;
  border-radius: 10%;
  box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
}

.image img:nth-child(1) {
  animation: slideInFromTop 2s ease forwards;
}

.image img:nth-child(2) {
  animation: slideInFromBottom 2s ease forwards;
  position: absolute;
  top: -10%;
  right: 0;
}

.additional-info {
  margin-top: 2rem;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.btn_hover1,
.btn_hover2 {
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 1rem;
}

.btn_hover1 {
  background-color: #6048d7;
  color: white;
}

.btn_hover1:hover {
  background-color: #290ac1;
}

.btn_hover2 {
  background-color: #104a87;
  color: white;
}

.btn_hover2:hover {
  background-color: #11105a;
}

h5 {
  margin: 0;
  font-size: 1rem;
  color: #2a2a2a;
}

.fa-check {
  color: green;
}

@media screen and (max-width: 850px) {
  .destination {
    margin: 4rem 2rem;
  }

  .first-des,
  .first-des-reverse {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 2.5rem;
  }

  .des-text {
    width: 100%;
    text-align: center;
  }

  .image {
    width: 100%;
    margin: 1.8rem 0;
  }

  .image img {
    height: 180px;
  }

  .additional-info {
    text-align: center;
  }

  .btn_hover1,
  .btn_hover2 {
    margin: 0.5rem 0;
  }
}
